

.container {
    min-height: 100%;
}


.background {
    background-image: url("https://media.istockphoto.com/photos/blurred-warehouse-inventory-product-stock-background-picture-id1083670196?k=6&m=1083670196&s=170667a&w=0&h=D5uNngR-aH0KACAPhkFSq12i9vpuTHXQfs661BAWqpE=");
    opacity: 0.9;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


table,
thead {
    background-color: white;
}

footer {
    background-color: #2D3338;
    min-height: 20vh;
    color: white;
}