.background {
    background-image: url("https://media.istockphoto.com/photos/blurred-warehouse-inventory-product-stock-background-picture-id1083670196?k=6&m=1083670196&s=170667a&w=0&h=D5uNngR-aH0KACAPhkFSq12i9vpuTHXQfs661BAWqpE=");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.description-background {
    border-radius: 15px;
    background-color: rgba(230, 249, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.description-background p {
    padding: 20px;
}

.description-background h4 {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.review-box {
    border-radius: 25px;
    background-color: rgba(128, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.review-box p {
    padding: 10px;
}

.review-box h3 {
}