thead {
    background-color: #2D3338;
    color: white;
}

footer {
    background-color: #2D3338;
    min-height: 20vh;
    color: white;
}

.container {
    min-height: 500px;
}

#table-id td
{
    text-align: center;
    vertical-align: middle;
}

#table-id th
{
    text-align: center;
    vertical-align: middle;
}

#table-id tr {
    border-style: groove;
    }

#table-id {
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
